/* SUMMARY
1. GLOBAL
2. LAYOUT
3. SECTION
*/


/*** 1. GLOBAL ***/

/* Fonts
============================= */

  @font-face {
    font-family: 'Source Sans Pro';
    src: url('../styles/SourceSansPro-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'School Icons';
    src: url('../styles/holberton_school-icon.woff') format('woff');
  }

/* Variables
============================= */

  :root {
    --color-white: #ffffff;
    --color-navy: #071629;
    --color-accent: #C271FF;

    --font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-icons: 'School Icons';

    --font-size-x-small: 12px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-x-large: 22px;
    --font-size-xx-large: 32px;
    --font-size-3x-large: 120px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-x-bold: 900;
  }

/* Base
============================= */

  * {
    font-family: var(--font-family-base) !important;
  }

  .icon {
    font-family: var(--font-family-icons) !important;
    font-size: 30px !important;
  }

  .btn-primary {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent) !important;
    border-radius: 22px !important;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50) !important;
  }

  .text-navy {
    color: var(--color-navy);
  }

  strong {
    color: var(--color-accent) !important;
    font-weight: var(--font-weight-bold) !important;
  }

/*** 2. LAYOUT ***/

/* Document Layout
============================= */

  header {
    padding: 20px !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 1000 !important; /* Ensure header is above other content */
  }

/* Header Menu Mobile
============================= */



/* Navbar
============================= */

  .nav-link:hover {
    color: var(--color-accent) !important;
  }

/*** 3. SECTION STYLING ***/

/* Header
============================= */



/* Hero Section
============================= */

  .bg-hero {
    background-image: url(../images/background_home.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

  .bg-hero-pricing {
    background-image: url(../images/background_pricing.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

  .hero-banner {
    font-size: var(--font-size-3x-large) !important;
    font-weight: var(--font-weight-bold) !important;
  }

  .pro-header, .pricing-header {
    font-size: var(--font-size-xx-large) !important;
    font-weight: var(--font-weight-light) !important;
  }

  .pro-name {
    font-size: var(--font-size-large) !important;
    font-weight: var(--font-weight-x-bold) !important;
    line-height: 27px !important;
  }

  .pro-text {
    font-size: var(--font-size-medium) !important;
    font-weight: var(--font-weight-regular) !important;
    line-height: 24px !important;
    font-style: italic !important;
  }

  .pricing-banner {
    font-size: 60px;
    font-weight: var(--font-weight-bold);
  }

  .plan-price {
    font-size: 44px;
    font-weight: var(--font-weight-bold);
  }

  .monthly-price {
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-regular);
    opacity: 0.5;
  }

/* Testimonial Section
============================= */

  .bg-testimonial {
    background-color: var(--color-accent);
  }

  .test-text {
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-regular);
    line-height: 33px;
  }

  .test-title {
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    line-height: 33px;
  }

  .test-sub-text {
    font-size: var(--font-size-x-large);
    font-style: italic;
    font-weight: var(--font-weight-regular);
    line-height: 33px;
  }

/* Tutorial Section
============================= */

  .video-title {
    color: var(--color-navy);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
  }

  .video-text {
    color: rgba(7, 22, 41, 0.50);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: 24px;
  }

  .author {
    color: var(--color-accent);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
  }

  .time-text {
    color: var(--color-accent);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
    line-height: 27px;
  }

/* Membership Section
============================= */

  .bg-navy {
    background-color: var(--color-navy) !important;
  }

  .dot-title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
    line-height: 26px;
  }

  .dot-text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: 26px;
  }

/* FAQ Section
============================= */

  .faq-header {
    font-size: 60px;
    font-weight: var(--font-weight-light);
  }

  .question-header {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
  }

  .question {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: 24px;
    opacity: .50;
  }

/* Footer
============================= */

  .bg-footer {
    background-color: var(--color-navy);
  }

  .copyright-text {
    opacity: .3517;
    font-size: var(--font-size-x-small);
    font-weight: var(--font-weight-regular);
  }
